# --- 빌드 결과물 및 임시 파일만 철저히 무시 ---
# 위치와 상관없이 아래 이름의 폴더나 확장자는 무시합니다.
**/TriCore\ Debug\ (TASKING)/**
**/Debug/**
**/.ads/**

*.o
*.d
*.elf
*.hex
*.map
*.src
*.lst
*.pre
*.err
*.launch
*.tmp

# 개인 설정 파일
.settings/
.project
.cproject